.elementor-kit-7 {
  --e-global-color-primary: #1F1F1F;
  --e-global-color-secondary: #ffffff;
  --e-global-color-text: #505050;
  --e-global-color-accent: #1F1F1F00;
  --e-global-color-61f7d2f: #8dc63e;

  /* Tipografía principal */
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;

  /* Tipografía secundaria */
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;

  /* Texto general */
  --e-global-typography-text-font-family: "Inter";
  --e-global-typography-text-font-size: 16px;
  --e-global-typography-text-font-weight: 300;

  /* Tipografía de acento */
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-accent-line-height: 1em;

  /* Otros estilos tipográficos personalizados */
  --e-global-typography-c2f6859-font-family: "Inter";
  --e-global-typography-c2f6859-font-size: 15px;
  --e-global-typography-c2f6859-font-weight: 600;
  --e-global-typography-c2f6859-text-transform: uppercase;
  --e-global-typography-c2f6859-letter-spacing: 0.9px;

  --e-global-typography-a6b9fd1-font-family: "Inter";
  --e-global-typography-a6b9fd1-font-size: 14px;
  --e-global-typography-a6b9fd1-font-weight: 300;

  --e-global-typography-1a76d6b-font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --e-global-typography-1a76d6b-font-size: 52px;
  --e-global-typography-1a76d6b-font-weight: 800;
  --e-global-typography-1a76d6b-line-height: 1em;

  --e-global-typography-72ad31b-font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --e-global-typography-72ad31b-font-size: 38px;
  --e-global-typography-72ad31b-font-weight: 800;
  --e-global-typography-72ad31b-line-height: 1.2em;

  --e-global-typography-af1d344-font-family: "Inter";
  --e-global-typography-af1d344-font-size: 18px;
  --e-global-typography-af1d344-font-weight: 600;

  --e-global-typography-699a985-font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --e-global-typography-699a985-font-size: 60px;
  --e-global-typography-699a985-font-weight: 800;
  --e-global-typography-699a985-line-height: 1.1em;

  --e-global-typography-21e047b-font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --e-global-typography-21e047b-font-size: 28px;
  --e-global-typography-21e047b-font-weight: 800;
  --e-global-typography-21e047b-line-height: 1em;

  --e-global-typography-e12364c-font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --e-global-typography-e12364c-font-size: 24px;
  --e-global-typography-e12364c-font-weight: 800;
  --e-global-typography-e12364c-line-height: 1em;

  --e-global-typography-81d1f8f-font-family: "Inter";
  --e-global-typography-81d1f8f-font-size: 42px;
  --e-global-typography-81d1f8f-font-weight: 700;

  --e-global-typography-6bb6777-font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --e-global-typography-6bb6777-font-size: 20px;
  --e-global-typography-6bb6777-font-weight: 800;

  --e-global-typography-43448e1-font-family: "Inter";
  --e-global-typography-43448e1-font-size: 190px;
  --e-global-typography-43448e1-font-weight: 800;

  --e-global-typography-ccbc560-font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --e-global-typography-ccbc560-font-size: 42px;
  --e-global-typography-ccbc560-font-weight: 700;
  --e-global-typography-ccbc560-line-height: 1em;

  --e-global-typography-9d6259a-font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --e-global-typography-9d6259a-font-size: 18px;
  --e-global-typography-9d6259a-font-weight: 800;

  /* Defaults (outside vars) */
  color: var(--e-global-color-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.elementor-kit-7 a {
  color: var(--e-global-color-61f7d2f);
}

.elementor-kit-7 a:hover {
  color: #1F1F1F;
}

.elementor-kit-7 h1 {
  color: #1F1F1F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  font-weight: 800;
}

.elementor-kit-7 h2 {
  color: #1F1F1F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 52px;
  font-weight: 800;
}

.elementor-kit-7 h3 {
  color: #1F1F1F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1em;
}

.elementor-kit-7 h4 {
  color: #1F1F1F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 38px;
  font-weight: 800;
  line-height: 1em;
}

.elementor-kit-7 h5 {
  color: #1F1F1F;
  font-family: var(--e-global-typography-e12364c-font-family), Sans-serif;
  font-size: var(--e-global-typography-e12364c-font-size);
  font-weight: var(--e-global-typography-e12364c-font-weight);
  line-height: var(--e-global-typography-e12364c-line-height);
  letter-spacing: var(--e-global-typography-e12364c-letter-spacing);
  word-spacing: var(--e-global-typography-e12364c-word-spacing);
}

.elementor-kit-7 h6 {
  color: #1F1F1F;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.elementor-kit-7 button,
.elementor-kit-7 input[type="button"],
.elementor-kit-7 input[type="submit"],
.elementor-kit-7 .elementor-button {
  font-family: "Inter", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  color: #1F1F1F;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #1F1F1F;
  border-radius: 0px 0px 0px 0px;
  padding: 20px 38px 20px 38px;
}

.elementor-kit-7 label {
  color: #1F1F1F;
  font-family: "Inter", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 2.6em;
}

.elementor-kit-7 input:not([type="button"]):not([type="submit"]),
.elementor-kit-7 textarea,
.elementor-kit-7 .elementor-field-textual {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #1F1F1F;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 0px 0px 0px 0px;
}

.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}

.e-con {
  --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}

.elementor-element {
  --widgets-spacing: 20px 20px;
}

h1.entry-title {
  display: var(--page-title-display);
}

@media (max-width: 1024px) {
  .elementor-kit-7 {
    --e-global-typography-43448e1-font-size: 150px;
  }
  .elementor-kit-7 h5 {
    font-size: var(--e-global-typography-e12364c-font-size);
    line-height: var(--e-global-typography-e12364c-line-height);
    letter-spacing: var(--e-global-typography-e12364c-letter-spacing);
    word-spacing: var(--e-global-typography-e12364c-word-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}

@media (max-width: 767px) {
  .elementor-kit-7 {
    --e-global-typography-1a76d6b-font-size: 32px;
    --e-global-typography-699a985-font-size: 36px;
    --e-global-typography-699a985-line-height: 1.1em;
    --e-global-typography-43448e1-font-size: 102px;
    --e-global-typography-ccbc560-line-height: 1.2em;
  }
  .elementor-kit-7 h1 {
    font-size: 36px;
    line-height: 1.1em;
  }
  .elementor-kit-7 h2 {
    font-size: 32px;
  }
  .elementor-kit-7 h3 {
    line-height: 1.2em;
  }
  .elementor-kit-7 h5 {
    font-size: var(--e-global-typography-e12364c-font-size);
    line-height: var(--e-global-typography-e12364c-line-height);
    letter-spacing: var(--e-global-typography-e12364c-letter-spacing);
    word-spacing: var(--e-global-typography-e12364c-word-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
