.elementor-431
  .elementor-element.elementor-element-49c67f1
  > .elementor-container {
  max-width: 1180px;
}

.elementor-431 .elementor-element.elementor-element-49c67f1 {
  padding: 10px 0px 10px 0px;
  z-index: 1;
}

.elementor-bc-flex-widget
  .elementor-431
  .elementor-element.elementor-element-01e79b5.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}

.elementor-431
  .elementor-element.elementor-element-01e79b5.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-431 .elementor-element.elementor-element-f368ed7 {
  text-align: left;
}

.elementor-431 .elementor-element.elementor-element-f368ed7 img {
  width: 90px;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu
  > ul,
.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper:not(.active)
  .jkit-menu,
.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper:not(.active)
  .jkit-menu
  > li
  > a {
  display: flex;
  font-weight: 700;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu {
  justify-content: center;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  .menu-item
  .sub-menu {
  left: unset;
  top: 100%;
  right: unset;
  bottom: unset;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  .menu-item
  .sub-menu
  .menu-item
  .sub-menu {
  left: 100%;
  top: unset;
  right: unset;
  bottom: unset;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper {
  height: 45px;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  > li
  > a {
  font-family: "Inter", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 20px 0px 20px;
  color: #ffffff;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  > li
  > a
  svg {
  fill: #ffffff;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  > li:hover
  > a {
  color: var(--e-global-color-61f7d2f);
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  > li:hover
  > a
  svg {
  fill: var(--e-global-color-61f7d2f);
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  > li.current-menu-item
  > a,
.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  > li.current-menu-ancestor
  > a {
  color: var(--e-global-color-61f7d2f);
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  > li.current-menu-item
  > a
  svg,
.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  > li.current-menu-ancestor
  > a
  svg {
  fill: var(--e-global-color-61f7d2f);
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  li.menu-item-has-children
  > a
  i,
.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  li.menu-item-has-children
  > a
  svg {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  .sub-menu
  li
  a {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
  padding: 10px 20px 10px 20px;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  .sub-menu
  li
  > a {
  color: #1F1F1F;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  .sub-menu
  li
  > a
  svg {
  fill: #1F1F1F;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  .sub-menu
  li:hover
  > a {
  color: var(--e-global-color-61f7d2f);
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  .sub-menu
  li:hover
  > a
  svg {
  fill: var(--e-global-color-61f7d2f);
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  .sub-menu
  li.current-menu-item
  > a {
  color: var(--e-global-color-61f7d2f);
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  .sub-menu
  li.current-menu-item
  > a
  svg {
  fill: var(--e-global-color-61f7d2f);
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-menu
  li.menu-item-has-children
  .sub-menu {
  padding: 10px 0px 10px 10px;
  min-width: 220px;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-hamburger-menu {
  float: right;
  border-style: solid;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-hamburger-menu:hover {
  background-color: #02010100;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-nav-identity-panel
  .jkit-close-menu {
  border-style: solid;
}

.elementor-431
  .elementor-element.elementor-element-8eac6ca
  .jeg-elementor-kit.jkit-nav-menu
  .jkit-menu-wrapper
  .jkit-nav-identity-panel
  .jkit-nav-site-title
  .jkit-nav-logo
  img {
  object-fit: cover;
}

.elementor-bc-flex-widget
  .elementor-431
  .elementor-element.elementor-element-5582b7e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}

.elementor-431
  .elementor-element.elementor-element-5582b7e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-431
  .elementor-element.elementor-element-110e379
  .elementor-icon-list-icon
  i {
  color: #ffffff;
  transition: color 0.3s;
}

.elementor-431
  .elementor-element.elementor-element-110e379
  .elementor-icon-list-icon
  i:hover {
  color: #8DC63E;
}

.elementor-431
  .elementor-element.elementor-element-110e379
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
  transition: fill 0.3s;
}

.elementor-431 .elementor-element.elementor-element-110e379 {
  --e-icon-list-icon-size: 16px;
  --icon-vertical-offset: 0px;
}

.elementor-431
  .elementor-element.elementor-element-110e379
  .elementor-icon-list-text {
  transition: color 0.3s;
}

@media (max-width: 1024px) {
  .elementor-431
    .elementor-element.elementor-element-01e79b5
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 10px;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu.break-point-mobile
    .jkit-menu-wrapper {
    background-color: #1F1F1F;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu.break-point-tablet
    .jkit-menu-wrapper {
    background-color: #1F1F1F;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li
    > a {
    padding: 0px 10px 15px 10px;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li:hover
    > a {
    color: var(--e-global-color-61f7d2f);
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li:hover
    > a
    svg {
    fill: var(--e-global-color-61f7d2f);
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li.current-menu-item
    > a,
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li.current-menu-ancestor
    > a {
    color: var(--e-global-color-61f7d2f);
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li.current-menu-item
    > a
    svg,
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li.current-menu-ancestor
    > a
    svg {
    fill: var(--e-global-color-61f7d2f);
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li.menu-item-has-children
    > a
    i,
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li.menu-item-has-children
    > a
    svg {
    border-width: 0px 0px 0px 0px;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li
    > a {
    color: #ffffff;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li
    > a
    svg {
    fill: #ffffff;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li:hover
    > a {
    color: var(--e-global-color-61f7d2f);
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li:hover
    > a
    svg {
    fill: var(--e-global-color-61f7d2f);
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li.current-menu-item
    > a {
    color: var(--e-global-color-61f7d2f);
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li.current-menu-item
    > a
    svg {
    fill: var(--e-global-color-61f7d2f);
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-hamburger-menu {
    border-width: 0px 0px 0px 0px;
    color: #ffffff;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-hamburger-menu
    svg {
    fill: #ffffff;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel
    .jkit-close-menu {
    border-width: 0px 0px 0px 0px;
    color: #ffffff;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel
    .jkit-close-menu
    svg {
    fill: #ffffff;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel
    .jkit-nav-site-title
    .jkit-nav-logo
    img {
    max-width: 260px;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel
    .jkit-nav-site-title
    .jkit-nav-logo {
    margin: 20px 0px 0px 10px;
  }
}

@media (min-width: 768px) {
  .elementor-431 .elementor-element.elementor-element-01e79b5 {
    width: 22.401%;
  }
  .elementor-431 .elementor-element.elementor-element-2bcf45b {
    width: 57.235%;
    display: flex;
    align-items: center;
  }
  .elementor-431 .elementor-element.elementor-element-5582b7e {
    width: 20.03%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-431 .elementor-element.elementor-element-01e79b5 {
    width: 20%;
  }
  .elementor-431 .elementor-element.elementor-element-2bcf45b {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .elementor-431 .elementor-element.elementor-element-01e79b5 {
    width: 50%;
  }
  .elementor-431 .elementor-element.elementor-element-2bcf45b {
    width: 50%;
  }
  .elementor-431
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel
    .jkit-nav-site-title
    .jkit-nav-logo
    img {
    max-width: 240px;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-hamburger-menu {
    display: block;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper {
    width: 100%;
    max-width: 360px;
    border-radius: 0;
    background-color: #f7f7f7;
    width: 100%;
    position: fixed;
    top: 0;
    left: -110%;
    height: 100% !important;
    box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    -moz-transition: left 0.4s cubic-bezier(0.6, 0.1, 0.68, 0.53), width 0.4s;
    -webkit-transition: left 0.4s cubic-bezier(0.6, 0.1, 0.68, 0.53), width 0.4s;
    -o-transition: left 0.4s cubic-bezier(0.6, 0.1, 0.68, 0.53), width 0.4s;
    -ms-transition: left 0.4s cubic-bezier(0.6, 0.1, 0.68, 0.53), width 0.4s;
    transition: left 0.4s cubic-bezier(0.6, 0.1, 0.68, 0.53), width 0.4s;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper.active {
    left: 0;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu-container {
    overflow-y: hidden;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel {
    padding: 10px 0px 30px 0px;
    display: block;
    position: relative;
    z-index: 5;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel
    .jkit-nav-site-title {
    display: inline-block;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel
    .jkit-close-menu {
    display: block;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu {
    display: block;
    height: 100%;
    overflow-y: auto;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li.menu-item-has-children
    > a
    i {
    margin-left: auto;
    border: 1px solid var(--jkit-border-color);
    border-radius: 3px;
    padding: 4px 15px;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li.menu-item-has-children
    > a
    svg {
    margin-left: auto;
    border: 1px solid var(--jkit-border-color);
    border-radius: 3px;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li.menu-item-has-children
    .sub-menu {
    position: inherit;
    box-shadow: none;
    background: none;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li {
    display: block;
    width: 100%;
    position: inherit;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li
    .sub-menu {
    display: none;
    max-height: 2500px;
    opacity: 0;
    visibility: hidden;
    transition: max-height 5s ease-out;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li
    .sub-menu.dropdown-open {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li
    a {
    display: block;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li
    a
    i {
    float: right;
  }
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li
    a
    svg {
    float: right;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu-container {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .admin-bar
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper {
    top: 32px;
  }
}

@media (max-width: 782px) {
  .admin-bar
    .elementor-element.elementor-element-8eac6ca
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper {
    top: 46px;
  }
}
